<!DOCTYPE html>
<html>

<head>
  <title>Google Maps | Express</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>
      Shopphopp - Google Maps, Axios & Express sandbox
    </h1>
    <div id="map">
    </div>
    <div class="info">
      <h3>List all shops</h3>
      <a href="/new">Create new shop</a>
      <div class="shop-list">
        <% shops.forEach((shop) => { %>
          <div class="shop">
            <div>
              Shop Name:
              <a href="/<%= shop._id%>">
                <%= shop.name%>
              </a>
            </div>
            <div>
              Description:
              <%= shop.description %>
            </div>
            <div>
              Business:
              <%= shop.business %>
            </div>
            <div>
              <a class="btn-edit-delete" href="/<%= shop._id%>/edit">Edit</a>
            </div>
            <div>
              <form action="/<%= shop._id%>/delete" method="POST">
                <button class="btn-edit-delete" type="submit">Delete</button>
              </form>
            </div>
          </div>

          <% }) %>
      </div>

    </div>
  </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>

</html>